{% macro t(key) %}{{ {
  "language": "pt-BR",
  "edit.link.title": "Edite está pagina",
  "footer.previous": "Anterior",
  "footer.next": "Proxímo",
  "meta.comments": "Comentadrios",
  "meta.source": "Codígo",
  "search.languages": "",
  "search.placeholder": "Pesquisa",
  "search.result.placeholder": "Tipo de pesquisa",
  "search.result.none": "Não encontrou documentos",
  "search.result.one": "1 documento foi encontrado",
  "search.result.other": "# documentos foram encontrados",
  "search.tokenizer": "[\s\-]+",
  "source.link.title": "Vá ao repositorio",
  "toc.title": "Tabela de Conteúdos"
}[key] }}{% endmacro %}
